configuration {
    show-icons:           true;
    icon-theme:           "Qogir";
    display-drun:         "Apps";
    drun-display-format: "{name}";
    scroll-method:         0;
    disable-history:       false;
    sidebar-mode:          false;

}

@import "~/.config/rofi/themes/black-white.rasi" // Import the new pure black and white theme

// ... all your other styling blocks (window, mainbox, message, etc.)
